{% extends 'base.html.twig' %}

{% block content %}
	{% block heading %}{% endblock %}
	<section id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
		<div class="main-banner">
			<ul class="carousel-inner">
				<li class="carousel-item active">
					<div class="item item-1">
						<div class="header-text">
							<a href={{ path('app_home') }}>
								<h1>Venez!<br/>vite découvrir nos mocktails</h1>
							</a>
						</div>
					</div>
				</li>
				<li class="carousel-item">
					<div class="item item-2">
						<div class="header-text">
							<h1>A venir...<br/></h1>
						</div>
					</div>
				</li>
			</ul>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>
{% endblock %}
