<title>
	{% block title %}Page Admin -
	{% endblock %}
</title>
{% block stylesheet %}
	{{ encore_entry_link_tags("adminEntry") }}
{% endblock %}
<a href="{{ path('app_admin_category_index') }}">
	<i class="fa-solid fa-list"></i>
	Categories</a>
<a href="{{ path('app_admin_product_index') }}">
	<i class="fa-solid fa-list"></i>
	Mocktails</a>
<div>
	<a href="{{ path('app_home') }}" class="btn btn-success">
		<i class="fa-solid fa-house"></i>
		Aller vers le site</a>
</div>

