{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags("about-usEntry") }}
{% endblock %}

{% block content %}
	<div class="apropos-page section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-heading">
						<h1>|
							{{ pageName }}</h1>
						<h2>L'Histore de nos Mocktails. Qui sommes nous ?</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="featured section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="left-image">
						<img src="{{ asset('build/images/banner-01.jpg') }}" alt=""/>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="info-table">
						<ul>
							<li>
								<section>
									<span>
									Nos Mocktails sont des Cocktails SANS ALCOOL. 
										Ces pépites culinaires aux saveurs
										LOCALES sont les fruits du beau travail de
										Mme Surya GIRAULT et ils vous promettent de
										voyager dès la première gorgée, avec ses
										goûts raffinés et originaux.
										</span>
								</section>
								<section>
									<span>
									Cette alternative ne vous dépaysera point
										du monde des cocktails, mais vous aidera à
										prend plaisir gustativement avec ZÉRO ALCOOL
										et nos produits locaux : des fruits du Péyi
										choisis avec nos soins auprès de nos chers
										producteurs locaux.
										</span>
								</section>
								<section>
									<span>
									Nos boissons Haut de gamme et locales sont
										déjà appréciées par plusieurs centaines de
										guyanais, elles commencent à être servis sur
										des grandes tables de restaurants du Péyi
										!
										</span>
								</section>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

