.title-detail-page {
  background-color: #fafafa;
  padding: 100px 0px;
}

.title-detail-page .tab-content img {
  padding: 0px 45px;
}

.title-detail-page .tabs-content .nav-link {
  font-size: 16px;
  font-weight: 500;
  background-color: #1e1e1e !important;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0px 25px;
  color: #fff;
}

.title-detail-page .tabs-content .nav-tabs .nav-link.active {
  background-color: var(#cba135) !important;
  color: #fff;
}

.title-detail-page .tabs-content ul.nav-tabs {
  border-bottom: none !important;
  margin-bottom: 80px;
  align-items: end;
  justify-content: end;
  margin-top: -130px;
}

.title-detail-page .tabs-content ul.nav-tabs li {
  padding-right: 0px;
  border-right: none;
  margin-left: 20px;
}

.title-detail-page .info-table {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
}

.title-detail-page .info-table ul li {
  display: block;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-size: 15px;
  color: #aaa;
  font-weight: 400;
}

.title-detail-page .info-table ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

#ingredient {
  font-size: 20px;
  color: #1e1e1e;
  font-weight: 700;
  word-wrap: break-word;
  overflow: hidden;
  display: block;
}
#price {
  font-size: 20px;
  color: #1e1e1e;
  font-weight: 700;
  float: right;
  width: auto;
}
.title-detail-page .tabs-content {
  padding: 0px;
  background-color: transparent;
}

.title-detail-page .tabs-content h1 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 30px;
}

.title-detail-page .icon-button {
  margin-top: 30px;
}
.main-button {
  margin-top: 15px;
}

.img-thumbnail {
size: 50px;
}

/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/
@media (max-width: 767px) {
  .title-detail-page .tabs-content .nav-link {
    font-size: 14px;
    padding: 0px 15px;
    height: 44px;
    line-height: 44px;
  }

  .title-detail-page .tabs-content ul.nav-tabs li {
    margin: 0px 5px;
  }
  .properties ul.properties-filter li a {
    font-size: 14px;
    padding: 10px 15px;
  }

  .properties ul.properties-filter li {
    margin: 5px;
  }
}

@media (max-width: 992px) {
  .title-detail-page .section-heading {
    text-align: center;
  }

  .title-detail-page .tabs-content ul.nav-tabs {
    margin-top: 0px;
    justify-content: center;
  }

  .title-detail-page .info-table {
    margin-bottom: 45px;
  }

  .title-detail-page .tab-content img {
    padding: 0px;
    max-width: 70%;
    height: auto;
  }

  .title-detail-page .tabs-content h1 {
    margin-top: 45px;
  }
  .title-detail-page .info-table ul li span #ingredient {
    width: auto !important;
  }
  .title-detail-page .info-table ul li span #price {
    float: right !important;
    width: auto !important;
  }
  .properties .item h6 {
    text-align: center;
    margin-bottom: 15px;
  }
}
@media (max-width: 1200px) {
  .title-detail-page .info-table ul li span {
    float: none;
    width: 100%;
  }
}
