{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
				<hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
				<p class="display-5 mb-4 mb-md-5 text-center">Conditions Générales d'Utilisation</p>
				<hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
			</div>
		</div>
	</div>
	<div class="single-mocktail section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>
						<strong>1. Utilisation du Site</strong><br></p>
					<p>
						<strong>1.1.</strong>
						L’accès et l’utilisation de certains services proposés sur le Site (newsletter, jeux et concours notamment) peuvent rendre nécessaire une inscription préalable de l’Utilisateur. Dans l’hypothèse où les informations fournies s’avéreraient inexactes, incomplètes ou périmées,
						<strong>ROGUE ONE</strong>
						se réserve le droit de suspendre ou de résilier son inscription.</p>
					<p>
						<strong>1.2.</strong>
						Le Site est exclusivement destiné aux Utilisateurs agissant à des fins personnelles et non commerciales.</p>
					<p>
						<strong>1.3.</strong>
						L’Utilisateur ne peut en aucun cas modifier, copier, distribuer, transmettre, télécharger, émettre, afficher, reproduire, éditer, publier, délivrer une licence, créer des travaux dérivés, transférer ou vendre des informations, éléments ou services du Site, sous quelque forme que ce soit.</p>
					<p>
						<strong>2. Comportement des Utilisateurs</strong><br></p>
					<p>Les Utilisateurs du Site s’engagent de manière générale à se conformer aux lois et règlements en vigueur en France, à respecter les droits des tiers et les dispositions des présentes conditions générales d’utilisation. A ce titre, les Utilisateurs s’engagent à se comporter de façon loyale.</p>
					<p>
						<strong>2.2.</strong>
						Les textes et autres contenus mis en ligne sur le Site par l’Utilisateur feront l’objet d’une modération a posteriori de la part de
						<strong>ROGUE ONE</strong>, et 
																				n’est pas tenu de vérifier préalablement le contenu publié par l’Utilisateur et ce dernier reconnait être seul responsable des contenus mis en ligne sur le Site.</p>
					<p>
						<strong>2.3.</strong>
						Les Utilisateurs peuvent signaler à
						<strong>ROGUE ONE</strong>
						tout comportement ou contenu préjudiciable par demande écrite envoyée par courriel : [contact@villaschweppes.com]
					</p>
					<p>La demande écrite de l’Utilisateur écrite doit permettre à
						<strong>ROGUE ONE</strong>
						d’identifier le contenu illicite et le chemin d’accès à ce contenu. Sa demande doit donc contenir les éléments suivants :<br><br>– Ses noms, prénoms et adresse postale ;<br>– La copie des contenus qui semblent litigieux ainsi que l’adresse URL de la page concernée ;<br>– Les motifs pour lesquelles l’Utilisateur pense que le contenu litigieux doit être retiré.</p>
					<p>
						<strong>ROGUE ONE</strong>
						s’engage à supprimer promptement un contenu illicite dès qu’il en a connaissance.<br><strong>ROGUE ONE</strong>
						pourra à tout moment, à sa seule discrétion et sans notification préalable, accepter ou refuser de diffuser, déplacer ou supprimer des informations et/ou contenus du Site, en tout ou partie, transmis ou non par l’Utilisateur.
						<strong>ROGUE ONE</strong>
						se réserve également le droit de mettre un terme à l’accès de l’Utilisateur au Site et à l’un de ses services (chat, messagerie, jeux…), à tout moment, en cas de manquement à l’une des obligations essentielles découlant de la loi en vigueur et des présentes conditions générales d’utilisation quelle que soit la raison. Sa décision est sans appel.</p>
					<p>
						<strong>ROGUE ONE</strong>
						détient et conserve toutes données de nature à permettre l’identification des auteurs des messages et procède à l’archivage privé des messages postés.</p>
					<p>Il appartient à l’Utilisateur de prendre toutes les mesures appropriées de façon à protéger les données transmises au Site, dont la conservation, l’hébergement et la sauvegarde ne peuvent pas être garantis par
						<strong>ROGUE ONE</strong>.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

